html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url(/img/sky-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fafafa;
}

.button {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 1.3rem;
  padding: 5px 10px;
  background: #ceb1b1;
  color: #000;
  border: 3px outset #ceb1b1a8;
  box-shadow: 0px 0px 3px 1px #000;
}

.accent-dot {
  font-size: 3rem;
  line-height: 1px;
  text-shadow: 1px 1px 1px #ff0000;
}

.button:active {
  border: 3px inset #ceb1b1a8;
  box-shadow: none;
}
.button:hover {
  color: #ff0707;
  cursor: pointer;
}

.navigation-bar {
  min-height: 50px;
  background-color: #bfb880;
  background-image: linear-gradient(65deg, #bfb880 49%, #ba7c6b 73%);

  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 0px 4px 4px #b0989878;
}

.menu {
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  display: none;
}

.menu--open {
  display: flex;
}

.menu__link {
  text-decoration: none;
  color: #630404;
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.menu__link:hover {
  color: white;
  background-color: #000;
  transition: color 2s ease, background-color 2s ease;
}

.main {
  margin: 60px 1rem;
}
