html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url(/img/sky-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.button {
  position: relative;
  top: 2px;
  left: 71%;
  font-size: 1.3rem;
  padding: 5px 10px;
  background: #ceb1b1;
  color: #000;
  border: 3px outset #ceb1b1a8;
  box-shadow: 0px 0px 3px 1px #000;
}

.accent-dot {
  font-size: 3rem;
  line-height: 1px;
  text-shadow: 1px 1px 1px #ff0000;
}

.button:active {
  border: 3px inset #ceb1b1a8;
  box-shadow: none;
}
.button:hover {
  color: #ff0707;
  transition: color 0.5s ease;
  cursor: pointer;
}

.navigation-bar {
  z-index: 1;
  min-height: 50px;
  background-color: #bfb880;
  background-image: linear-gradient(65deg, #bfb880 49%, #ba7c6b 73%);
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 0px 4px 4px #b0989878;
}

.menu {
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  display: none;
}

.menu--open {
  display: flex;
}

.menu__link {
  text-decoration: none;
  color: #630404;
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.menu__link:hover {
  color: white;
  background-color: #000;
  transition: color 2s ease, background-color 2s ease;
}

.main {
  margin: 60px 1rem;
}

.header__title {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  line-height: 45px;
  text-shadow: 4px -1px 6px;
}

.header__description {
  color: #00ee0a;
  font-weight: 500;
  word-spacing: 5px;
  line-height: 25px;
}

.list {
  list-style: none;
  position: relative;
}

.list__item {
  position: relative;
  line-height: 18px;
  margin-bottom: 0.5em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px;
}

.list__item--first {
  color: #fbc02d;
  font-weight: 500;
  text-shadow: 2px 1px 2px;
}

.list__item--last {
  color: #4fc3f7;
  font-weight: 500;
  text-shadow: 2px 1px 2px;
}

.checkmark {
  position: relative;
  height: 15px;
  width: 30px;
  top: 18px;
}

.checkmark::before {
  position: absolute;
  left: -29px;
  top: -12%;
  height: 0.85em;
  width: 3px;
  background-color: #00ee0a;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.checkmark::after {
  position: absolute;
  left: -28px;
  bottom: 3px;
  height: 3px;
  width: 1.2em;
  background-color: #00ee0a;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.section__title {
  font-size: 1.4rem;
  font-family: "Space Mono", monospace;
  color: #fbc02d;
  margin: 1.5em 0 1em;
  border-bottom: 5px ridge #00ee0a;
  padding-bottom: 0.2em;
  text-align: center;
  letter-spacing: 2px;
}

.article {
  background-color: #f0ffff1a;
  border-radius: 2em;
  box-shadow: 1px 1px 4px 2px;
  margin: 3em 0 4em;
  padding: 0 0.8em 0.4em;
}

.article__title {
  letter-spacing: 2px;
  word-spacing: -5px;
  font-family: "Space Mono", monospace;
  color: #4fc3f7;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 1em;
}

.article__description {
  line-height: 1.5rem;
  text-align: center;
}

.side-note__description {
  font-family: "Cantarell", sans-serif;
  line-height: 1.5em;
  text-align: right;
  color: #ffb600;
}

.side-note__description--padding {
  padding-right: 1em;
  text-align: center;
  padding-left: 9px;
  border-left: 3px solid #fff;
  line-height: 2em;
}

a.side-note__link {
  text-decoration: none;
  font-weight: 600;
  color: #df1111;
  letter-spacing: -1px;
}

a.side-note__link:hover {
  color: #fff;
  transition: color 2s ease;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

ul.games {
  flex-basis: 45%;
}

aside.side-note {
  flex-basis: 40%;
}
